
/* HANDLE FONT LATER*/
@import url("https://fonts.google.com/specimen/Poppins/glyphs?query=poppins");

*{
    font-family: "Poppins",sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f8f8f8;
}


/*general structure for left bar*/
.left-navbar{
    position:fixed;
    /*width: 250px;*/
    height: 100vh;

    background: white;
    z-index:2;
    border-right-color: lightgray;
    border-right-style: solid;
    border-right-width: 1px;

}

.middle{
    position:absolute;
    /*width:400px;*/
    top:0;

    left:370px;
    border-radius: 0 1rem;
    z-index:1000;

}


/*nav bar items*/
.logo {
    width:160px;
}

.nav-item{
    margin-left: 10px;
    padding-top: 10px;

    text-decoration: none;
}


.nav-links{
    margin-top: 20px;
    margin-left: 10px;

}

.nav-icon{
    font-size: 25px;
    color:black;
}
.navbar-text{
    margin-left: 10px;
    font-weight: 400;
    font-size:1.1rem;
    color:black !important;
    align-items: center;
    line-height: 55px;
}

/*story bar items*/
.stories-img{
    width: 80px;
    margin-bottom: -4px;
}


/*COME BACK AND FIX THIS LAYOUT LATER*/
.stories-row{
    margin-top:50px !important;
    overflow: auto;
    white-space: nowrap;
}
.stories-item{
    float: left!important;
    align-content: center !important;
    text-align: center;
    text-decoration: none;

}

.stories-list{
    display: inline-block !important;
}

.stories-text{
    font-size: 13px;
    align-content: center;
    color: black;
    text-decoration: none;
    text-underline-mode: none;
}

/* right nav items (suggestiong*/
.right-navbar{

}



.rec-item{
    margin-left: 10px;

    text-decoration: none;
}


.rec-links{
    margin-top: 20px;
    margin-left: 10px;

}

.rec-icon{
    font-size: 25px;
    color:black;
}
.recbar-text{
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
    color:black !important;
    align-items: center;
    line-height: 55px;
}
.rec-Profile-img{
    width:50px;
}

.rec-first-item{
    margin-left: 10px;
    padding-top: 10px;
    margin-top:50px !important;

    text-decoration: none;
}

.recbar-seeall{
    margin-left: 65px;
    font-size: 13px;
    font-weight: bold;
}
.recbar-switch{
    margin-left: 70px;
    font-size: 13px;
    font-weight: bold;
    color:lightskyblue;
}

.suggestions{
    color: grey;
    font-size: 15px;
    margin-left: 3px;
    font-weight: bold;
}
.rec-item-suggestion{
    margin-top: 15px;
    margin-left:8px;
}

/*A post*/

.container-mainContent{
    margin-top: 45px;
    margin-left: 70px;
}

#post-img{
    margin-top: 10px;
}
.account-name{
    font-weight: bold;
}
.post-profile-pic{
    width:45px;
}

#more{
    margin-right:5px;
}

.card-text{
    font-size: 14px;
}

.view-comments{
    font-size: 14px;
    color:grey;

}
.post-card{
    width: 440px;
    /*border-style: solid;*/

}